<%- include("../includes/head.ejs", { pageTitle: "Signup" }) %>
</head>
<body>
  <%- include("../includes/header.ejs") %>
  <main>
    <h1>New Account</h1>
    <form action="" method="">
      
    </form>
  </main>
  <%- include("../includes/footer.ejs") %>
